::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #C40019;
 }

 .wizard {
     margin-bottom: 0;
 }

 .wizard-step-content>section {
     margin: auto, 10px;
 }

 .content-wrapper {
    display: block;
    width: 672px;
    margin-right: 30px;
 }
 .content-group-beneficiary {
     max-width:none;
     margin-bottom: 0;
     justify-content: space-between;
     align-items: center;
     display: flex;
     flex-flow: row wrap;
 }
 .content-group-title {
    font-size: 1rem;
    display:block;
 }

 .content-group-span {
    margin-top: 10px;
    display: block;
    width: 360px;
 }

 .accounts{
     margin-top: 20px;
     display: inline-flex;
 }
 .transfer-approve {
     max-width: 300px;
     border: 1px solid #d1d3d7;
     border-radius: 4px;
     background-color: #fff;
     box-shadow: 0 3px 3 #d1d3d7;
     padding: 10px 20px;
     margin: auto;
     text-align: center;
     .tranfer-name-text {
        color: #333;
        font-size: 24px;
        font-weight: 400;
     }
     .transfer-code-text {
        display: block;
        padding-top: 8px;
     }
 }
 .center-text {
     text-align: center;
     margin: 20px 10px;
    .balance-number {
        font-size: 45px;
    }
 }

 .wizard-step-content>section>h3 {
    font-size: 1.5rem;
}
.text-list {
    list-style: none;
    margin-left: 80px;
    list-style: none;
    margin-right: 100px;
}
.number-list {
    list-style: none;
}
.h6 {
    font-size: 1.1rem;
}
.save-money {
    color: #348597;
    font-size: 1.0rem;
    font-family: Poalim-Arial;
}
.roInfo {
    background-image: url('./../../assets/downarrow.svg');
}
.ok::before {
    content:"";
    position: relative;
    display: block;
    width:24px;
    margin-left: 5px;
    height: 24px;
    border-radius: 50%;
    background: url('./../../../assets/done_green_circle.png') center/25px no-repeat;
}
.ok {
    display: inline-flex;
    color: #278119;
}
.doArrow-icon {
    background-image: url('./../../../assets/downarrow.svg');
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid gray;
}
.underline-bold {
    text-decoration: underline;
    color: black;
}
.phone {
    background: url('./../../../assets/phone_icon.png') center/25px no-repeat;
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
}
.liner {
    display: inline-flex;
    .borderless {
      text-align: right;
      min-height: 32px;
      width: 210px;
      max-width: 210px;
      background: url('./../../../assets/downarrow.svg') .625rem center no-repeat #fff;
      padding: .391rem .625rem .391rem 31px;
      line-height: 1.25;
      border-radius: 2px;
    }
  }
  .liner-btns {
    margin-right: 10px;
    button {
      height: 32px;
      width: 32px;
    }
    .bell {
      background: url('./../../../assets/bell.svg') 14px no-repeat #fff;
      background-position: center center;
    }
    .letter {
      background: url('./../../../assets/letter.svg') 14px no-repeat #fff;
      background-position: center center;
    }
    .viBox {
      background: url('./../../../assets/vInABox.svg') 14px no-repeat #fff;
      background-position: center center;
    }
    .ppl {
      background: url('./../../../assets/people.svg') 14px no-repeat #fff;
      background-position: center center;
    }
  }
