<div class="wpsPortletBody">
  <div class="clsPageAlign">
        <ul>
          <h4 class="title">צור קשר</h4>
          <li>סניף רחובות</li>
          <li>סניף תל אביב</li>
          <li>סניף ראשון לציון</li>
          <li>סניף קריית שמונה</li>
          <li>סניף שדרות</li>
        </ul>
        <ul>
          <h4 class="title">אפליקציות נוספות</h4>
          <li>BIT</li>
          <li>Pepper</li>
          <li>Mango</li>
        </ul>
        <ul>
          <h4 class="title">בקרוב באתר</h4>
          <li>סוכן משכנתא</li>
          <li>סניפים חדשים</li>
          <li>שירותי און ליין</li>
          <li>תעריפים מוזלים</li>
        </ul>
    </div>
  </div>
