<aside class="aside-layout-aside d-print-none" id="menu">
    <div class="quick-operation">
      <div class="operation-icons-list-width-sm">
        <div class="quantity-loan"><span> עד&nbsp;
        <strong class="qtr-2">₪</strong> &nbsp;ישירות לחשבונך </span></div>
        <div class="operation-title"><h4>אני רוצה</h4></div>
        <ul class="quick-operations-list">
          <li><a class="task-link" title="לבקש הלוואה" href="/" target="_self"><i class="icon operation-icon icon-ask-for-loan qtr-2"></i>
          <div>לבקש הלוואה</div></a>
          </li>
          <li><a class="task-link" title="להעביר כסף" href="/" target="_self"><i class="icon operation-icon icon-transfer-money"></i>
          <div>להעביר כסף</div></a>
          </li>
          <li><a class="task-link" title="להפקיד לפר&quot;י" href="/" target="_self"><i class="icon operation-icon icon-deposit"></i>
          <div>להפקיד לפר"י</div></a>
          </li>
          </ul><div class="quick-operation-footer"><button type="button"><span class="bigger-font">פעולות מהירות נוספות</span> <i class="icon icon-arrow-down"></i>
          </button></div>
          </div>
        </div>
    <div id="side-nav" _nghost-c12="">
      <div _ngcontent-c12="" class="accordion-menu accordion" role="tablist" aria-multiselectable="false">
        <div class="card">
          <div role="tab" id="plasticCardsInfo-header" class="card-header ">
            <h5 class="mb-0">
            <button class="btn btn-link" type="button" aria-expanded="true" aria-controls="plasticCardsInfo" style="font-size: 1.2rem;"> מידע</button>
            </h5>
          </div>
          <div class="collapse show" role="tabpanel" id="plasticCardsInfo" aria-labelledby="plasticCardsInfo-header">
            <div class="card-body">
            <ul _ngcontent-c12="">
            <li _ngcontent-c12="" class="active"><a _ngcontent-c12="" href="/" target="_self">חיובים קרובים </a></li>
            <li _ngcontent-c12=""><a _ngcontent-c12="" href="/" target="_self">חיובים קודמים </a></li>
            <li _ngcontent-c12=""><a _ngcontent-c12="" href="/" target="_self">ביטול הוראות </a></li>
            <li _ngcontent-c12=""><a _ngcontent-c12="" href="/" target="window" rel="noopener">מידע מאתר ישראכרט </a></li>
            <li _ngcontent-c12=""><a _ngcontent-c12="" href="/" target="window" rel="noopener">מידע מאתר אמ.אקספרס </a></li>
            </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div role="tab" id="plasticCardActions-header" class="card-header ">
            <h5 class="mb-0"><button class="btn btn-link collapsed" type="button" aria-expanded="false" aria-controls="plasticCardActions" style="font-size: 1.0rem;"> פעולות</button></h5>
          </div>
        </div>
        <div class="card">
          <div role="tab" id="plasticCardsUpCard-header" class="card-header ">
          <h5 class="mb-0"><button class="btn btn-link collapsed" type="button" aria-expanded="false" aria-controls="plasticCardsUpCard" style="font-size: 1.0rem;"> כרטיס UP CARD</button></h5>
          </div>
        </div>
      </div>
    </div>
    <section>
      <button class="btn-on-off-toggle terms-button" role="checkbox" type="button" aria-label="מילון מושגים" aria-checked="false" style="font-size: 1.0rem;">מילון מושגים </button>
      <button class="btn3 btn-guide-me" type="button">כדאי לך לדעת</button>
    </section>
    <div>
    </div>
    </aside>
