<nav class="clsTopNav">
    <div class="clsPageAlign">
      <ul class="clsSitesNav">
        <li class="clsTab1"><a href="/" title="לקוח פרטי" tabindex="1">לקוח פרטי</a></li>
        <li class="clsTab2"><a href="/" title="לקוח עסקי" tabindex="2">לקוח עסקי</a></li>
        <li class="clsTab3"><a href="/" title="לקוח חטיבה עסקית" tabindex="3">לקוח חטיבה עסקית</a></li>
      </ul>
      <ul class="clsLangNav">
        <li><a href="/" title="International" tabindex="4">International</a></li>
           <!-- li><a href="https://www.bankhapoalim.co.il/russian/" title="Русский"  tabindex="5">Русский</a></li -->
        <li><a href="/" title="العربية" tabindex="6">العربية</a></li>
      </ul>
    </div>
</nav>


<div class="wpsPortletBody">
    <header>
        <div class="clsPageAlign">
            <h1 class="clsLogo">
              <a href="/" title="בנק הפועלים - להיות ראשון זה מחייב" tabindex="7">
                <img src="./../assets/logo.png" alt="בנק הפועלים - להיות ראשון זה מחייב">
              </a>
            </h1>
          <nav class="clsMainNav">
            <ul>
              <li>
                <a routerLink="home" routerLinkActive="active" href="/">ניהול חשבון</a>
                <ul *ngIf="featureFlag == 2">
                  <li><a href="/">פתיחת חשבון</a></li>
                  <li><a href="/">סטודנטים</a></li>
                  <li><a href="/">פועלים עד אליך</a></li>
                  <li><a href="/">פועלים חייל</a></li>
                  <li><a href="/">חיילים משוחררים</a></li>
                  <li><a href="/">פועלים YOUNG</a></li>
                  <li><a href="/">פועלים באינטרנט</a></li>
                  <li><a href="/">שכירים</a></li>
                  <li><a href="/">פועלים בטלפון</a></li>
                  <li><a href="/">פועלים בסלולר</a></li>
                  <li><a href="/">אפליקציית bit</a></li>
                  <li><a href="/">poalim Be online</a></li>
                  <li><a href="/">פועלים בשירות עצמי</a></li>
                  <li><a href="/">תשלום חשבונות</a></li>
                  <li><a href="/">הרשאות לחיוב חשבון</a></li>
                  <li><a href="/">איתור פיקדונות ללא תנועה וחשבונות של נפטרים</a></li>
                  <li><a href="/">ניהול תקציב</a></li>
                  <li><a href="/">תעודת זהות בנקאית</a></li>
                </ul>
              </li>
              <li>
                <a routerLink="credit" routerLinkActive="active" href="/">כרטיסי אשראי</a>
                <ul *ngIf="featureFlag == 2">
                  <li><a href="/">כרטיסי אשראי בינלאומיים</a></li>
                  <li><a href="/">כרטיסי אשראי מקומיים</a></li>
                  <li><a href="/">פועלים באינטרנט וכרטיס האשראי שלך</a></li>
                  <li><a href="/">תכונות ויתרונות כל כרטיס</a></li>
                </ul>
              </li>
              <li>
                <a href="/">פיקדונות וחסכונות</a>
                <ul *ngIf="featureFlag == 2">
                  <li><a href="/">מוצרי החודש</a></li>
                  <li><a href="/">חיסכון לכל ילד</a></li>
                  <li><a href="/">דן חסכן</a></li>
                  <li><a href="/">פיקדונות שקליים</a></li>
                  <li><a href="/">תוכניות חיסכון</a></li>
                  <li><a href="/">מוצרים משולבים</a></li>
                  <li><a href="/">מוצרים עולמיים</a></li>
                  <li><a href="/">מוצרים מובנים</a></li>
                  <li><a href="/">מיסוי תוכניות חיסכון ופיקדונות</a></li>
                </ul>
              </li>
              <li>
                <a href="/">שוק ההון</a>
                <ul *ngIf="featureFlag == 2">
                  <li><a href="/">שוק ההון בפועלים באינטרנט</a></li>
                  <li><a href="/">אפליקציית שוק ההון</a></li>
                  <li><a href="/">ניירות ערך ישראלים</a></li>
                  <li><a href="/">קרנות נאמנות</a></li>
                  <li><a href="/">Stop loss</a></li>
                  <li><a href="/">סקירות ותחזיות פיננסיות</a></li>
                  <li><a href="/">מסחר בבורסות אירופה וקנדה</a></li>
                  <li><a href="/">תעודות סל</a></li>
                  <li><a href="/">תיק וירטואלי</a></li>
                  <li><a href="/">מערכת TipRanks</a></li>
                  <li><a href="/">ניתוח השקעות באינטרנט</a></li>
                  <li><a href="/">הצבעות אלקטרוניות</a></li>
                  <li><a href="/">Advisor שלי</a></li>
                  <li><a href="/">שעות מסחר</a></li>
                  <li><a href="/">ייעוץ השקעות</a></li>
                  <li><a href="/">מיסוי</a></li>
                </ul>
              </li>
              <li>
                <a routerLink="foreignCurrency" routerLinkActive="active" href="/">מט"ח</a>
                <ul *ngIf="featureFlag == 2">
                  <li><a href="/">הזמנת מט"ח בטרמינל</a></li>
                  <li><a href="/">מט"ח בשאנטי</a></li>
                  <li><a href="/">עוד כותרת</a></li>
                  <li><a href="/">העברות מט''ח לחו''ל</a></li>
                  <li><a href="/">כותרת נוספת</a></li>
                  <li><a href="/">מוצרים עולמיים</a></li>
                  <li><a href="/">אזרח ישראלי תושב חוץ</a></li>
                  <li><a href="/">מקבלי פיצויים</a></li>
                  <li><a href="/">שערי חליפין</a></li>
                </ul>
              </li>
              <li>
                <a href="/">הלוואות</a>
                <ul *ngIf="featureFlag == 2">
                  <li><a href="/">מחויבים לחברה - נרתמים להנגשה</a></li>
                  <li><a href="/">הלוואה רב ערוצית</a></li>
                  <li><a href="/">הלוואות לכל מטרה ופתרונות אשראי</a></li>
                  <li><a href="/">הלוואה למערכות אנרגיה סולארית בבנק הפועלים</a></li>
                  <li><a href="/">אשראי ברגע - הלוואה מהירה לכל מטרה</a></li>
                  <li><a href="/">אשראי ברגע לעסקים - הלוואה לעסקים באתר הבנק</a></li>
                  <li><a href="/">מימון לחידוש הבית</a></li>
                  <li><a href="/">מימון לרכב</a></li>
                  <li><a href="/">חוק נתוני אשראי</a></li>
                </ul>
              </li>
              <li>
                <a routerLink="mortgage" routerLinkActive="active" href="/">משכנתא</a>
                <ul *ngIf="featureFlag == 2">
                  <li><a href="/">משכן - פועלים משכנתאות</a></li>
                  <li><a href="/">מחשבון משכנתא</a></li>
                  <li><a href="/">פנייה למשכנתא באינטרנט</a></li>
                  <li><a href="/">מגוון מוצרי משכנתא</a></li>
                  <li><a href="/">זכאות פועלים</a></li>
                </ul>
              </li>
              <li>
                <a href="/">ייעוץ פנסיוני</a>
                <ul *ngIf="featureFlag == 2">
                  <li><a href="/">חיסכון פנסיוני - למה זה חשוב לך?</a></li>
                  <li><a href="/">מה השתנה בעולם הפנסיה?</a></li>
                  <li><a href="/">קרן פנסיה</a></li>
                  <li><a href="/">קופת גמל</a></li>
                  <li><a href="/">ביטוח מנהלים/ביטוח לעצמאים</a></li>
                  <li><a href="/">קרן השתלמות</a></li>
                  <li><a href="/">איך מתכוננים לפנסיה?</a></li>
                  <li><a href="/">כיצד בונים תוכנית פנסיה בשלושה צעדים?</a></li>
                  <li><a href="/">ניהול הביטחון הכלכלי לעצמאים</a></li>
                  <li><a href="/">מילון מונחים</a></li>
                </ul>
              </li>
              <li><a href="/">פועלים UP</a></li>
            </ul>
          </nav>
        </div>
      </header>
    </div>
