<section style="margin: 20px 20px;">
  <h1>
    שערי מט"ח
  </h1>
  <div class="liner">
      <button class="borderless"><span class="poalim-font">מס': עידו 656-597798</span> </button> 
      <div class="liner-btns">
          <button class="bell"></button>
          <button class="letter"></button>
          <button class="viBox"></button>
          <button class="ppl"></button>
      </div>
  </div>
</section>
<hr>
<div class="container">
    <div class="grid">
      <h3 class="headline">שערים יציגים עבור תאריך 16/04/2019</h3>
    </div>
    <div *ngIf="featureVersion == 1">
        <h5>כפתור מוצג רק כאשר גרסת הפיצ'ר 1</h5>
        <button class="red-style">כפתור גרסה</button>
    </div>
<div class="table-wrapper">
  <table class="table-blue">
    <thead>
      <tr>
        <th>מטבע יציג</th>
        <th>מול מטבע</th>
        <th>תעריף</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataItem of dataObject">
        <th>{{ dataItem.currecy }}</th>
        <th>{{ dataItem.counterCurrency }}</th>
        <th>{{ dataItem.amount }}</th>
      </tr>
    </tbody>
  </table>
</div>
</div>
