<section style="margin: 20px 20px;">
  <h1>
    תנועות אחרונות - אשראי
  </h1>
  <div class="liner">
      <button class="borderless"><span class="poalim-font">מס': עידו 656-597798</span> </button>
      <div class="liner-btns">
          <button class="bell"></button>
          <button class="letter"></button>
          <button class="viBox"></button>
          <button class="ppl"></button>
      </div>
  </div>
</section>
<hr>
<div class="container">
    <div class="grid">
      <h3 class="headline">תנועות אחרונות עבור אשראי שמספרו נגמר ב :1234</h3>
      <img src="../../assets/visa.jpg" alt="כרטיס">
    </div>
    <!-- <button type="button" [routerLink]="['/credit',2]">גרסה</button> -->
<div class="table-wrapper">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>הועבר לידי</th>
        <th>סכום העברה</th>
        <th>תאריך</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataItem of dataObject">
        <th>{{ dataItem.date }}</th>
        <th>{{ dataItem.amount }}</th>
        <th>{{ dataItem.referDetails }}</th>
      </tr>
    </tbody>
  </table>
</div>
</div>
