.table-wrapper {
  display: grid;
  margin: 20px 20px;
  // .table {
  //   border: 1px solid black;
  //   tbody {
  //     border: inherit;
  //     background-color: white;
  //   }
  //   thead {
  //     background-color: rgba(225, 226, 225, 0.932);
  //   }
  //   th {
  //     border: 1px solid
  //   }
  // }
  // .table-blue {
  //   border: 3px solid white;
  //   thead>tr {
  //       background-color: rgb(216, 225, 241);
  //   }
  //   tbody>tr {
  //       border: 2px solid white;
  //       background-color: rgb(255, 255, 255);
  //   }
  // }
  .no-data {
    text-align: center;
  }
}
.headline {
  text-align: center;
}
.container {
  width: 100%;
}
.liner {
  display: inline-flex;
  .borderless {
    text-align: right;
    min-height: 32px;
    width: 210px;
    max-width: 210px;
    background: url('./../../assets/downarrow.svg') .625rem center no-repeat #fff;
    padding: .391rem .625rem .391rem 31px;
    line-height: 1.25;
    border-radius: 2px;
  }
}
.liner-btns {
  margin-right: 10px;
  button {
    height: 32px;
    width: 32px;
  }
  .bell {
    background: url('./../../assets/bell.svg') 14px no-repeat #fff;
    background-position: center center;
  }
  .letter {
    background: url('./../../assets/letter.svg') 14px no-repeat #fff;
    background-position: center center;
  }
  .viBox {
    background: url('./../../assets/vInABox.svg') 14px no-repeat #fff;
    background-position: center center;
  }
  .ppl {
    background: url('./../../assets/people.svg') 14px no-repeat #fff;
    background-position: center center;
  }
}
.filter-list {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  margin: 0 15px;
  background-color: #f5f7f9;
  .borderless {
    background: url('./../../assets/downarrow.svg') .625rem center no-repeat #fff;
    padding: .391rem .630rem .391rem 29px;
    width: 172px;
    cursor: pointer;
    background-color: white;
  }
  .dropdown-content{
    margin-top: 2px;
    display: none;
    background-color: white; 
    position: absolute;
    overflow: auto;
    .dropdown-item {
      border: 1px solid #d1d3d7;
      width: 172px;
      margin-bottom: .5px;
      background-color: white;
    }
    .right {
      padding-right: 50%;
    }
  }
}
.print-left{
  direction: ltr;
  margin-left: 20px;
  .printer {
    background: url('./../../assets/prniter.svg') 14px no-repeat #fff;
    background-position: center center;
    height: 32px;
    width: 32px;
    border: none;
  }
}
.poalim-font {
  font-family: Poalim-Arial;
  font-size: 1rem;
}