.table-wrapper {
  display: grid;
  .table {
    border: 1px solid black;
    tbody {
      border: inherit;
      background-color: white;
    }
    thead {
      background-color: rgba(225, 226, 225, 0.932);
    }
    th {
      border: 1px solid
    }
  }
  .table-blue {
    border: 3px solid white;
    thead>tr {
        background-color: rgb(216, 225, 241);
    }
    tbody>tr {
        border: 2px solid white;
        background-color: rgb(255, 255, 255);
    }
  }
}
.headline {
  text-align: center;
}
// .container {
//   background-color: rgb(238, 238, 238);
// }