<div class="container">
    <div>
      <h2 class="headline">משיכות אחרונות</h2>
      <button type="button" (click)="onHomeClick()" [routerLink]="['/home', 2]">גרסה</button>
    </div>
<div class="table-wrapper">
    <table class="table">
        <thead>
          <tr><th>תאריך משיכה</th><th>כמות משיכה</th><th>קוד בנקט</th></tr>
        </thead>
        <tbody>
          <tr *ngFor='let message of dataObject'>
              <th>{{message.date}}</th><th>{{message.amount}}</th><th>{{message.ATMId}}</th>
          </tr>
        </tbody>
    </table>
</div>
</div>
