<div class="container">
    <ul>
        <span>צור קשר</span>
        <li>סניף רחובות</li>
        <li>סניף תל אביב</li>
        <li>סניף ראשון לציון</li>
        <li>סניף קריית שמונה</li>
        <li>סניף שדרות</li>
      </ul>
      <ul>
      <span>אפליקציות נוספות</span>
      <li>BIT</li>
      <li>Pepper</li>
      <li>Mango</li>
      </ul>
      <ul>
      <span>בקרוב באתר</span>
      <li>סוכן משכנתא</li>
      <li>סניפים חדשים</li>
      <li>שירותי און ליין</li>
      <li>תעריפים מוזלים</li>
      </ul>
</div>
